@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}


.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  background: linear-gradient(#141e30, #243b55);
  width: 100%;
    color: rgba(27, 25, 25, 0.774);
}

.profile__wrapper {
  min-width: 300px;
  min-height: 400px;
  border: 1px solid #eee;
  background: whitesmoke;
  overflow: hidden;
  padding: 10px;
  box-shadow: 2px 8px 20px #ddd;
  margin: 10px;
  transition: 0.3s linear;
}

.profile__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.profile__detail {
  padding: 10px;
  text-align: center;
  font-weight: 600;
}

.profile__title{
  padding:10px;
  font-size: large;
  font-weight: 600;
}

.profile__gender{
  padding: 5px;
  font-size: large;
}

.profile__email{
  padding: 5px;
  font-size: large;
}

.profile__location{
  padding: 5px;
  font-size: large;
}

span {
  font-size: 1rem;
}
.loading {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 2px;
}

.btn {
  height: 50px;
  width: 50px;
  background: #664732;
  color: #fcfcfc;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.active {
  background: #805fca;
  height: 50px;
  width: 50px;
  color: pointer;
  border: none;
  font-size: 15px;
}

button:disabled,
button[disabled] {
  border: none;
  background: #805fca;
  color: #fff;
  cursor: default;
}
.pagination{
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .pagination {
    flex-wrap: wrap;
    padding: 20px;
  }
}
